.footer {

    background-color: var(--primary-Dark);
    height: 350px;
}

#Capa_1 {

    border-radius: 100%;


}

.textoInfo {
    color: var(--secundary-Dark);
}

.boxInf {
    margin-top: 15px;
}

.fond {
    background-color: var(--primary-Dark);
}