@import url('root.css');


.navbar {
    height: 80px;
    background-color: var(--primary-Dark) !important;

}



.imgLogoStyle {
    margin-left: 20%;
    border-radius: 100%;
    opacity: 0;
    animation: showLog 2.5s ease-in-out forwards
}

.nav-item {
    border-radius: 6px;
    height: 45px;
    transition: all 1s;
    margin-right: 20px;



}

.navbar-collapse ul {
    background-color: var(--primary-Dark);
}

.nav-link {
    color: var(--secundary-Dark)
}

.nav-item a:hover {
    border-bottom: 1px solid var(--secundary-Dark);
    color: var(--secundary-Dark);

}

.nav-item:hover {
    scale: 1.1;
}

.navbar-nav {
    padding-left: 10%;
}

.container-fluid button {
    transition: all 1s;
    background-color: var(--secundary-Light)
}

.dropdown-item:hover {
    border-bottom: 2px solid var(--secundary-Dark);
}

.container-fluid button:hover {
    background-color: var(--secundary-Dark)
}

.dropdown-menu {
    background-color: var(--primary-Dark) !important;

}

.dropdown-menu li a {
    color: var(--secundary-Dark);
}

.dropdown-menu li a:hover {
    background-color: var(--primary-Dark) !important;
}

.navbar-brand {
    background-color: #ffffff;
    border-radius: 100%;
}

.banderas {
    width: 30px;
}

@media (max-width:425px) {
    .imgLog {
        width: 90px !important;
        height: 90px !important;
    }
}

@media (max-width:388px) {
    .imgLog {
        width: 60px !important;
        height: 60px !important;
    }
}