@import url('root.css');


.navbar {
    height: 65px !important;
    background-color: var(--light-green) !important;

}

.navBarStyle button {
    color: var(--grey);
    background-color: var(--pink);

}


.imgLogoStyle {

    margin-left: 20%;
    border-radius: 100%;
    opacity: 0;
    animation: showLog 2.5s ease-in-out forwards
}

@keyframes showLog {
    to {
        opacity: 1;
    }
}

.servicesOption {
    background-color: var(--grey);
}


.linkItemNav {
    color: var(--dark-green);
    font-size: 15px;
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;


}

.linkItemNav a {
    margin: 18px !important;
}

.linkItemNav:hover {
    transform: scale(1.05);
    border-bottom: 1px solid;
}

.navbar-toggler {
    border: 2px solid var(--dark-green);
}

@media (max-width:1200px) {
    .navbar {
        background-color: transparent !important
    }

    .linkItemNav {
        padding: 0px !important;
    }

    .navbar-collapse {
        background-color: var(--grey);
    }

    .liService {
        padding-left: 15px !important;
        color: var(--dark-green);
    }

    .navbar-toggler {
        border: 1px solid var(--dark-green);

    }


}