@import url('root.css');


.navbar {
    height: 80px !important;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.664) !important;
}

.navBarStyle button {
    color: var(--grey);
    background-color: var(--pink);

}




.imgLogoStyle {
    margin-left: 20%;
    border-radius: 100%;
    opacity: 0;
    animation: showLog 2.5s ease-in-out forwards
}

@keyframes showLog {
    to {
        opacity: 1;
    }
}



.linkItemNav {
    color: var(--dark-green);
    font-size: 16px;
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;


}


.linkItemNav:hover {
    transform: scale(1.2);
    color: var(--pink) !important;

    border-bottom: 1px solid
}



.linkItemNav:after {

    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease;
}