:root {
    --dark-green: #004025;
    --grey: #d2d3d5;
    --pink: #c89b7e;
    --text-color: #2c3e50;
}

body {
    background: var(--dark-green)
}

h1,
p {
    color: var(--dark-green);
}

.separar {

    padding-bottom: 30px !important;

}