.sectionHistoria {
    margin-top: 100px;
    background: var(--dark-green);
}

.leftHistoria {
    background-image: url('../img/FondoHistoria.jpg');
    background-size: cover;
    background-position: center;


}

.rightHistoria h2 {
    color: var(--pink)
}