.boxSerices {
    border: solid 2px var(--primary-Dark);
    padding-top: 20px !important;
    border-radius: 20px;
    overflow: hidden;
    height: 130px !important;
    transition: all 1.5s ease;
    width: 600px !important;
    text-align: center;
    cursor: pointer;

}

.boxSerices svg {
    border-radius: 100%;
    background-color: var(--primary-Dark);
    border: 2px solid var(--primary-Dark);
}

.boxText p {
    padding: 10px;
    visibility: hidden;
    transition: all 1s ease;
    overflow: hidden;

}




.boxSerices:hover {
    height: 450px !important;
    transform: scale(1.04);
    background-color: var(--primary-Dark);

}

.boxSerices:hover p {
    visibility: visible;
    color: var(--secundary-Dark);
}

.boxSerices:hover svg {
    background-color: var(--secundary-Dark);
}

.boxSerices:hover h5 {
    color: var(--secundary-Dark);
}

.svgComer {
    width: 9%;
}



.boxSerices1:hover {
    transition: all 2s ease;
    height: 550px !important;
}




.mostrarService {
    transition: all 1.5s easy;
    height: 450px !important;
    transform: scale(1.04);
    background-color: var(--primary-Dark);

}

.mostrarService p {
    visibility: visible;
    color: var(--secundary-Dark);
}

.mostrarService svg {
    background-color: var(--secundary-Dark);
}

.mostrarService h5 {
    color: var(--secundary-Dark);
}

.mostrarServiceAsesora {
    transition: all 2s ease;
    height: 650px !important;
}

@media (max-width:570px) {
    .boxSerices {
        width: 400px !important;
        height: 150px !important;
    }



    .boxSerices:hover {
        height: 550px !important;
    }

    .boxSerices1:hover {

        height: 750px !important;
    }
}