.boxSerices {
    border: solid 2px var(--dark-green);
    padding-top: 10px;
    border-radius: 20px;
    overflow: hidden;
    height: 130px !important;
    transition: all 1.5s ease;
    width: 550px !important;
    text-align: center;

}

.boxSerices svg {
    border-radius: 100%;
    background-color: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.boxText p {
    padding: 10px;
    visibility: hidden;
    transition: all 1s ease;
    overflow: hidden;

}

.boxSerices:hover {
    height: 450px !important;
    transform: scale(1.04);
    background-color: var(--dark-green);

}

.boxSerices1:hover {
    transition: all 2s ease;
    height: 700px !important;
}

.boxSerices:hover p {
    visibility: visible;
    color: var(--secundary-Dark);
}

.boxSerices:hover svg {
    background-color: var(--secundary-Dark);
}

.boxSerices:hover h5 {
    color: var(--secundary-Dark);
}

.svgComer {
    width: 9%;
}