.boxSerices {
    border: solid 1px;
    padding-top: 10px;
    border-radius: 20px;
    overflow: hidden;
    height: 130px !important;
    transition: all 1s ease;
    width: 550px !important;
    text-align: center;

}

.boxSerices svg {
    border-radius: 100%;
    background-color: var(--dark-green);
    border: 1px solid;
}

.boxText p {
    padding: 10px;
    visibility: hidden;
    transition: all 1s ease;
    overflow: hidden;

}

.boxSerices:hover {
    height: 400px !important;
    transform: scale(1.04);
    background-color: var(--light-green);
}

.boxSerices:hover p {
    visibility: visible;
}

.svgComer {
    width: 9%;
}