.container {
    padding-top: 50px !important;
}

.nuestroStaff {
    background: linear-gradient(to bottom, var(--grey), var(--pink));
    height: 1200px !important;
}

.carStaff {
    background-color: var(--pink);
    border-radius: 5%;
    border: 2px solid var(--dark-green);
    margin: 15px;
    width: 350px;
    height: 650px;
    transition: all .5s ease;
}

.carStaff p {
    opacity: 0;
    display: none;
    margin: 5px;
}

.carStaff h4,
.carStaff h3,
.carStaff h6,
.carStaff p {
    color: var(--dark-green);
}

.h2Service {
    color: var(--dark-green);
}

.boxImagStaff img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0px 15px 25px 15px;
    object-fit: cover;
    filter: grayscale(100%)
}


.boxImagStaff {
    transition: all 1s ease;
    overflow: hidden;

}

.carStaff:hover {
    transform: scale(1.02);
    border-radius: 20px;
    background-color: var(--dark-green);
    box-shadow: 0px 0px 15px 0px var(--dark-green);
}

.boxImagStaff:hover img:hover {
    display: none;
}

.carStaff:hover p {
    transition: all 1s ease;
    color: var(--pink);
    display: block;
    opacity: 1;
}

.carStaff:hover h4,
.carStaff:hover h6 {
    color: var(--pink);
}

.carStaff:hover .boxImagStaff {
    transition: all 1s ease;
    opacity: 0;
    display: none;
}



.slider {
    width: 85%;
    height: 1000px;
    margin-top: 50px;
    overflow: hidden;

}

.slide-track {
    height: 900px !;
}




.slider .slide-track {

    display: flex;
    -webkit-animation: scroll 25s linear infinite;
    animation: scroll 25s linear infinite;
    width: calc(300px * 16);

}



.slider:hover .slide-track:hover {
    animation-play-state: paused
}


.sliderFast {
    -webkit-animation-duration: 5s !important;
    animation-duration: 5s !important;
}


.sliderIzquierda {
    animation-direction: reverse !important;
    animation-duration: 5s !important;
}

.moveFast {
    border: 2px solid var(--pink);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 6));
    }
}

#slider,
.slide-track {
    animation: scroll 25s linear infinite;
}


@media (max-width:1120px) {
    .slide-track {
        height: 800px;
    }

    .nuestroStaff {
        height: 1300px !important;
    }
}

@media (max-width:875px) {
    .nuestroStaff {
        height: 1400px !important;
    }
}

@media (max-width:700px) {
    .nuestroStaff {
        height: 1500px !important;
    }
}

@media (max-width:620px) {
    .nuestroStaff {
        height: 1600px !important;
    }
}

@media (max-width:530px) {
    .nuestroStaff {
        height: 1700px !important;
    }
}

@media (max-width:475px) {
    .nuestroStaff {
        height: 1900px !important;
    }
}