.divWelcome {
    padding: 45px;

}


.welcomeSection {
    background: linear-gradient(to bottom, var(--firstColor), var(--secondColor));
    margin-top: 235px;
    margin-bottom: 150px;
    height: 320px;
}

.divLeng {
    width: 100%;
    height: 50px;

}

.logoWelcome {
    border: 1px solid black;
    border-radius: 100%;
}