.divWelcome {
    padding: 45px;

}


.welcomeSection {
    background: linear-gradient(to bottom, var(--firstColor), var(--secondColor));
    margin-top: 110px;
    height: 320px;
}

.divLeng {
    width: 100%;
    height: 50px;

}