.divWelcome {
    padding: 45px;

}

.logoWelcome {

    border-radius: 50%;
    border: 1px solid;
}

.welcomeSection {

    margin-top: 110px;
    height: 320px;
}

.divLeng {
    width: 100%;
    height: 50px;

}